pipeline/DataCopy_FailureHandlingPipeline.json
{
	"name": "DataCopy_FailureHandlingPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToekn",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://192.168.114.134/uaa/auth?password=pass&username=administrator",
					"connectVia": {
						"referenceName": "SelfHostedIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"X-TENANT-ID": "gdctest",
						"Accept": "application/json"
					},
					"body": "'none'",
					"linkedServices": [
						{
							"referenceName": "RESTTokenLinkedservice",
							"type": "LinkedServiceReference"
						}
					]
				}
			},
			{
				"name": "SiteApiCopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToekn",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', activity('GetBearerToekn').output.access_token)",
								"type": "Expression"
							},
							"X-TENANT-ID": "gdctest"
						}
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "SiteID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['siteName']"
								},
								"sink": {
									"name": "SiteName",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['content']"
					}
				},
				"inputs": [
					{
						"referenceName": "SiteSupervisorRestDataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerDataSet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEachSiteID",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SiteIdLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SiteIdLookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "site_device_data_copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "SITE_ID",
											"value": {
												"value": "@item().SiteID",
												"type": "Expression"
											}
										},
										{
											"name": "SITE_NAME",
											"value": {
												"value": "@item().SiteName",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat('Bearer ', activity('GetBearerToekn').output.access_token)",
											"type": "Expression"
										},
										"X-TENANT-ID": "gdctest"
									}
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "DeviceID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['deviceName']"
											},
											"sink": {
												"name": "DeviceName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['SITE_ID']"
											},
											"sink": {
												"name": "SiteID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['SITE_NAME']"
											},
											"sink": {
												"name": "SiteName",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['content']"
								}
							},
							"inputs": [
								{
									"referenceName": "DevicesApiRestDataSource",
									"type": "DatasetReference",
									"parameters": {
										"siteId": {
											"value": "@item().SiteID",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SqlServerSiteDeviceDataSet",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "SiteIdLookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SiteApiCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlServerSiteIdDataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SiteApiCopy",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": []
			}
		],
		"parameters": {
			"Failure": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}