pipeline/DataCopy_FailureHandlingPipeline.json
{
	"name": "DataCopy_FailureHandlingPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToekn",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://192.168.114.134/uaa/auth?password=pass&username=administrator",
					"connectVia": {
						"referenceName": "SelfHostedIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"X-TENANT-ID": "gdctest",
						"Accept": "application/json"
					},
					"body": "'none'",
					"linkedServices": [
						{
							"referenceName": "RESTTokenLinkedservice",
							"type": "LinkedServiceReference"
						}
					]
				}
			},
			{
				"name": "SiteApiCopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToekn",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', activity('GetBearerToekn').output.access_token)",
								"type": "Expression"
							},
							"X-TENANT-ID": "gdctest"
						}
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "SiteID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['siteName']"
								},
								"sink": {
									"name": "SiteName",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['content']"
					}
				},
				"inputs": [
					{
						"referenceName": "SiteSupervisorRestDataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerDataSet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set FAILURE",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SiteApiCopy",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "",
					"value": ""
				}
			},
			{
				"name": "Set SUCCESS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SiteApiCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}