Comres-Site-Supervisor-ADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Comres-Site-Supervisor-ADF"
		},
		"RESTTokenLinkedservice_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RESTTokenLinkedservice'"
		},
		"SQLServerLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLServerLinkedService'"
		},
		"SqlServerSiteDevicesLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServerSiteDevicesLinkedService'"
		},
		"RESTTokenLinkedservice_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://192.168.114.134/uaa/auth"
		},
		"RESTTokenLinkedservice_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "administrator"
		},
		"DeviceApiLinkedService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "HTTP://192.168.114.134/inventory/"
		},
		"DevicesApiLinkedservice_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://192.168.114.134/inventory/"
		},
		"SiteSupervisorLinedService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "HTTP://192.168.114.134/inventory/"
		},
		"SpecificSiteIdDevicesLinkedService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "HTTP://192.168.114.134/inventory/api/devices/paging?siteId=7"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RESTTokenLinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RESTTokenLinkedservice_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RESTTokenLinkedservice_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RESTTokenLinkedservice_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLServerLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SQLServerLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerSiteDevicesLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServerSiteDevicesLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SiteID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SiteName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sitecontroller"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLServerLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerSiteDeviceDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerSiteDevicesLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SiteID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SiteName",
						"type": "varchar"
					},
					{
						"name": "DeviceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DeviceName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "site_devices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerSiteDevicesLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerSiteIdDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SiteID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SiteName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sitecontroller"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLServerLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DeviceApiLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('DeviceApiLinkedService_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DevicesApiLinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('DevicesApiLinkedservice_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SiteSupervisorLinedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('SiteSupervisorLinedService_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SpecificSiteIdDevicesLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('SpecificSiteIdDevicesLinkedService_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DevicesApiRestDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DevicesApiLinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "api/devices/paging"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DevicesApiLinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DevicesApiRestDataSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DeviceApiLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"siteId": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('api/devices/paging?siteId=',dataset().siteId)",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DeviceApiLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SiteSupervisorRestDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SiteSupervisorLinedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "api/sites/paging"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SiteSupervisorLinedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Comres_Swagger_DataCopy_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetBearerToekn",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://192.168.114.134/uaa/auth?password=pass&username=administrator",
							"connectVia": {
								"referenceName": "SelfHostedIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded",
								"X-TENANT-ID": "gdctest",
								"Accept": "application/json"
							},
							"body": "'none'",
							"linkedServices": [
								{
									"referenceName": "RESTTokenLinkedservice",
									"type": "LinkedServiceReference"
								}
							]
						}
					},
					{
						"name": "SiteApiCopy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetBearerToekn",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@concat('Bearer ', activity('GetBearerToekn').output.access_token)",
										"type": "Expression"
									},
									"X-TENANT-ID": "gdctest"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "SiteID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['siteName']"
										},
										"sink": {
											"name": "SiteName",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['content']"
							}
						},
						"inputs": [
							{
								"referenceName": "SiteSupervisorRestDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ForEachSiteID",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SiteIdLookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('SiteIdLookup').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "site_device_data_copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "SITE_ID",
													"value": {
														"value": "@item().SiteID",
														"type": "Expression"
													}
												},
												{
													"name": "SITE_NAME",
													"value": {
														"value": "@item().SiteName",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"additionalHeaders": {
												"Authorization": {
													"value": "@concat('Bearer ', activity('GetBearerToekn').output.access_token)",
													"type": "Expression"
												},
												"X-TENANT-ID": "gdctest"
											}
										},
										"sink": {
											"type": "SqlServerSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "DeviceID",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['deviceName']"
													},
													"sink": {
														"name": "DeviceName",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['SITE_ID']"
													},
													"sink": {
														"name": "SiteID",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "$['SITE_NAME']"
													},
													"sink": {
														"name": "SiteName",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['content']"
										}
									},
									"inputs": [
										{
											"referenceName": "DevicesApiRestDataSource",
											"type": "DatasetReference",
											"parameters": {
												"siteId": {
													"value": "@item().SiteID",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SqlServerSiteDeviceDataSet",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "SiteIdLookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SiteApiCopy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "SqlServerSiteIdDataSet",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RESTTokenLinkedservice')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/datasets/SiteSupervisorRestDataSet')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerDataSet')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerSiteIdDataSet')]",
				"[concat(variables('factoryId'), '/datasets/DevicesApiRestDataSource')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerSiteDeviceDataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCopy_FailureHandlingPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetBearerToekn",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://192.168.114.134/uaa/auth?password=pass&username=administrator",
							"connectVia": {
								"referenceName": "SelfHostedIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded",
								"X-TENANT-ID": "gdctest",
								"Accept": "application/json"
							},
							"body": "'none'",
							"linkedServices": [
								{
									"referenceName": "RESTTokenLinkedservice",
									"type": "LinkedServiceReference"
								}
							]
						}
					},
					{
						"name": "SiteApiCopy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetBearerToekn",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@concat('Bearer ', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxLCJyb2xlX2lkIjoxLCJ1c2VyX25hbWUiOiJhZG1pbmlzdHJhdG9yIiwic2NvcGUiOlsidHJ1c3QiLCJyZWFkIiwid3JpdGUiXSwiaXNzIjoiUmV0YWlsIFNvbHV0aW9ucyIsImV4cCI6MTU4Njk0MTk2OSwiYnlwYXNzX2NvbnRyb2xsZXJfc2VjdXJpdHkiOnRydWUsImF1dGhvcml0aWVzIjpbIlJPTEVfQURNSU4iXSwianRpIjoiZGJhYzBmMjEtN2QwNS00YWY1LTkyN2YtMDE0NjgxYTRhMTY3IiwidGVuYW50IjoiZ2RjdGVzdCIsImNsaWVudF9pZCI6Im15LXRydXN0ZWQtY2xpZW50LXdpdGgtc2VjcmV0In0.3Ni7lPoZaMnNxDq_KZpj7qYMTPxo8KfF_MdK-_HSZEY')",
										"type": "Expression"
									},
									"X-TENANT-ID": "gdctest"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "SiteID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['siteName']"
										},
										"sink": {
											"name": "SiteName",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['content']"
							}
						},
						"inputs": [
							{
								"referenceName": "SiteSupervisorRestDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"Failure": {
						"type": "string",
						"defaultValue": "0"
					},
					"Success": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RESTTokenLinkedservice')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/datasets/SiteSupervisorRestDataSet')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerDataSet')]"
			]
		}
	]
}